:root {
    --primary: #2563eb;
    --secondary: #1e40af;
    --accent: #60a5fa;
    --background: #f8fafc;
    --surface: #ffffff;
    --text: #1e293b;
    --border: #e2e8f0;
    --error: #ffdede;

    --font-sm: clamp(0.7rem, 1.5vw, 0.9rem);
    --font-base: clamp(0.9rem, 2.5vw, 1.1rem);
    --font-lg: clamp(1.1rem, 3vw, 1.25rem);
    --font-xl: clamp(1.25rem, 4vw, 1.35rem);
    --font-2xl: clamp(1.35rem, 5vw, 2rem);
}

* {
    font-family: "Alan Sans", sans-serif;
}

html {
    box-sizing: border-box;
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
    font-size: var(--font-base);
}

.authForm {
    display: flex;
    flex-direction: column;
    background-color: var(--border);
    border: 2px solid var(--text);
    border-radius: 18px;
    padding: 24px 32px;
    gap: 24px;
    width: 60%;
    margin: 0 auto;

    h1 {
        font-size: var(--font-2xl);
    }
}

.formInput {
    display: flex;
    flex-direction: column;
    gap: 12px;

    label {
        font-size: var(--font-lg);
    }
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    border: 0;
    background-color: var(--background);
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 12px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 1s ease-in-out;

    &:hover {
        border-color: var(--text);
    }
}

input {
    border: 0;
    padding: 12px;
    color: var(--text);
    border: 1px solid var(--text);
    background-color: var(--background);
    outline: none;
    border-radius: 12px;
    font-size: var(--font-base);
}

#error {
    opacity: 0;
    padding: 12px;
    color: var(--text);
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    gap: 12px;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    top: 12px;
    border: 1px solid var(--text);
    background-color: var(--error);
    border-radius: 12px;
    font-size: var(--font-base);
    transition: opacity 300ms linear;
}

@media screen and (max-width: 1024px) {
    .authForm {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .authForm {
        width: 80%;
        padding: 12px 16px;
        gap: 16px;
    }

    input,
    button {
        padding: 8px 12px;
    }
}